html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}

.body{
    font-family: Noto Sans TC;
    font-style: normal;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.headerTitle{
    color:#448899;
    font-size: 30px;
    line-height: 34px;
    font-weight: bold; 
}
.functionMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.functionMenu li {
    color: #666666;
    font-size: 16px;
    line-height: 13px;
    padding-right: 18px;
}
.content{
    max-width: 1200px;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
}
.images{
    position: relative;
}
.pic {
    width: 550px;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding-right: 20px;
}
.leftArrow{
    position: absolute;
    left:5px;
    top:50%;
    background-color: Transparent;
    border: none;
}
.rightArrow{
    position: absolute;
    right:5px;
    top:50%;
    background-color: Transparent;
    border: none;
}
.changeText1 h2{
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.changeText2 p{
    font-size: 16px;
    line-height: 13px;
    padding-bottom: 16px;
}
.function{
    width: 550px;
    border-radius: 5px;
    padding-bottom: 16px;
    padding-left: 20px;
}
.infornation{
    max-width: 650px;
    background: #E8E8E8;
    border-radius: 5px;
    height: 80%;
}
.infornation h4{
    padding-top: 15px;
    padding-bottom: 18px;
    padding-left: 20px;
    color: #666666;
    font-size: 16px;
    line-height: 13px;
    font-weight: 700;
}
.infornation p{
    color: #666666;
    font-size: 16px;
    line-height: 13px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.data{
    color: #666666;
    font-size: 16px;
    line-height: 13px;
    font-weight: 700;
    padding-left: 20px;
}
.radioBox{
    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: #666666;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
}
.radio{
    font-size: 16px;
    line-height: 13px;
    font-weight: 400;
}
.amount{
    padding-left: 20px;
    padding-bottom: 22px;
}
.amountOrder{
    color: #666666;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    
}
.changeAmount{
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    padding-left: 10px;
}
.button{
    padding-left: 20px;
    padding-bottom: 12px;
}
.checkBtn{
    width: 154px;
    height: 36px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    background: #448899;
    border-radius: 5px;
    border:none;
}
.line1{
    border: 1px solid #E8E8E8;
}
.line2{
    border: 1px solid #E8E8E8;
    width: 1190px;
}
.introduceArea{
    max-width: 1190px;
    margin: 0 auto;
    padding-top: 16px;
    margin-bottom: 60px;
}
.narrative{
    padding-bottom: 10px;
}
.narrative p{
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}
.address{
    padding-bottom: 16px;
}
.address h4{
    color: #666666;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.address p{
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    
}
.traffic{
    padding-bottom: 120px;
}
.traffic h4{
    color: #666666;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    
    display: flex;
    align-items: center;
}
.traffic p{
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
}
.footer{
    height: 90px;
    width: 100%;
    background:#757575;
    display: flex;
    align-items: center;
    /* position: absolute;
    bottom: 0; */
}
.footer p{
    font-size: 16px;
    color:#FFFFFF;
    align-items: center;
    margin:0 auto;
    
}

@media (max-width:1200px){
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
    }
    .content{
        max-width: 900px;
    }
    .pic{
        max-width: 440px;
        height: 300px;
    }
    .function{
        max-width: 430px;
        border-radius: 5px;
        
    }
    .changeText1{
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        
    }
    .changeText2 p{
        font-size: 16px;
        line-height: 8px;
        padding-bottom: 14px;
    }
    .infornation h4{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        color: #666666;
        font-size: 14px;
        line-height: 150%;
        font-weight: 700;
    }
    .infornation p{
        color: #666666;
        font-size: 14px;
        line-height: 150%;
        padding-left: 16px;
        padding-bottom: 14px;
    }
    .data{
        color: #666666;
        font-size: 14px;
        line-height: 150%;
        font-weight: 700;
        padding-left: 16px;
    }
    .radio{
        font-size: 14px;
        line-height: 150%;
        font-weight: 400;
    }
    .radioBox{
        padding-top: 14px;
        padding-bottom: 10px;
        padding-left: 16px;
        color: #666666;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
    }
    .amount{
        padding-left: 16px;
        padding-bottom: 10px;
    }
    .amountOrder{
        color: #666666;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
    }
    .changeAmount{
        color: #666666;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }
    .button{
        padding-left: 20px;
        padding-bottom: 18px;
    }
    .checkBtn{
        width: 120px;
        height: 28px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        background: #448899;
        border-radius: 5px;
        border:none;
    }
    .introduceArea{
        max-width: 890px;
        margin: 0 auto;
        padding-top: 10px;
        margin-bottom: 60px;
    }
    .address{
        padding-bottom: 10px;
    }
    .traffic{
        padding-bottom: 130px;
    }
    .line2{
        border: 1px solid #E8E8E8;
        width: 890px;
    }
    .footer{
        
        width: 100%;
        background:#757575;
        display: flex;
        align-items: center;
        height: 90px;
    }
}

@media (max-width:900px){
    
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 600px;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    .pic{
        max-width: 550px;
        height: 300px;
    }
    .function{
        max-width: 550px;
        border-radius: 5px;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .checkBtn{
        width: 120px;
        height: 32px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 10px;
        line-height: 100%;
        background: #448899;
        border-radius: 5px;
        border:none;
    }
    
    .introduceArea{
        max-width: 500px;
        margin: 0 auto;
        padding-top: 10px;
        height: 100%;
        margin-bottom: 20px;
    }
    .address{
        padding-bottom: 10px;
    }
    .traffic{
        padding-bottom: 70px;
    }
    .line2{
        border: 1px solid #E8E8E8;
        width: 600px;
    }
    .footer{
        padding-top: 10px;
        height: 60px;
        width: 100%;
        
    }

}
@media (max-width:600px){
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 280px;
    }
    .headerTitle{
        color:#448899;
        font-size: 20px;
        line-height: 34px;
        font-weight: bold; 
    }

    .functionMenu li {
        color: #666666;
        font-size: 12px;
        line-height: 13px;
        padding-right: 18px;
    }
    .pic{
        max-width: 400px;
        height: 300px;
    }
    .function{
        max-width: 400px;
        border-radius: 5px;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .introduceArea{
        max-width: 400px;
        margin: 0 auto;
        padding-top: 10px;
        height: 100%;
        padding-bottom: 20px;
    }
    .line2{
        border: 1px solid #E8E8E8;
        width: 400px;
    }
}
@media (max-width:500px){
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 320px;
    }
    .headerTitle{
        font-size: 25px;
    }
    .pic{
        max-width: 340px;
        height: 300px;
    }
    .function{
        max-width: 340px;
        border-radius: 5px;
        padding-bottom: 10px;
        padding-top: 20px;
        margin-right: 10px;
    }
    
    .introduceArea{
        max-width: 320px;
        margin: 0 auto;
        padding-top: 10px;
        height: 100%;
    }
    .address{
        padding-bottom: 10px;
    }
    .traffic{
        padding-bottom: 40px;
    }
    .line2{
        border: 1px solid #E8E8E8;
        width: 320px;
    }
    .footer{
        height: 80px;
    }
}

@media (max-width:360px){
    .header {
        display: flex;
        align-items: center;
    }
    .headerTitle{
        font-size: 20px;
    }
   
    .pic{
        max-width: 330px;
    }
    
    .changeText1{
        font-size: 16px;
        line-height: 150%;
        font-weight: 700;
        padding-bottom: 10px;
    }
    .changeText2 p{
        font-size: 14px;
        line-height: 8px;
        padding-bottom: 14px;
    }
    .infornation h4{
        padding-top: 14px;
        padding-bottom: 10px;
        color: #666666;
        font-size: 14px;
        line-height: 150%;
        font-weight: 700;
    }
    .infornation p{
        color: #666666;
        font-size: 12px;
        line-height: 120%;
        padding-bottom: 18px;
        padding-right: 10px;
    }
    .data{
        color: #666666;
        font-size: 14px;
        line-height: 150%;
        font-weight: 700;
        
    }
    .radio{
        font-size: 14px;
        line-height: 150%;
        font-weight: 400;
    }
    .radioBox{
        padding-top: 18px;
        padding-bottom: 10px;
        color: #666666;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
    }
    .amount{
        padding-bottom: 20px;
    }
    .amountOrder{
        color: #666666;
        font-weight: 700;
        font-size: 12px;
        line-height: 150%;
    }
    .changeAmount{
        color: #666666;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }
    .checkBtn{
        width: 160px;
        height: 28px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        background: #448899;
        border-radius: 5px;
        border:none;
    }
    .introduceArea{
        max-width: 300px;
        padding-top: 10px;
        height: 100%;
        padding-bottom: 30px;
    }
    
}
