html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}

.body{
    font-family: Noto Sans TC;
    font-style: normal;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.navlogin{
    cursor:pointer;
}

.logout{
    display: none;
    cursor:pointer;
}
.background{
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(43, 39, 39, 0.5);
    /* opacity: 0.5; */
    display:none;
    
}
/*做login*/
.login{
    display: none;
    z-index: 200;
    position:absolute;
}

.loginBox{
    position: fixed;
    top: 70px;
    /* left:600px; */
    left:50%;
    transform: translate(-150px,0);
    max-width: 340px;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 8px;
    background: #FFFFFF;
    padding-bottom: 0 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    /* z-index: 3; */
    
}
.loginClose{
    width: 16px;
    height: 16px;
    position: absolute;
    top:32px;
    right: 10px;
    cursor:pointer;
}
.signupClose{
    width: 16px;
    height: 16px;
    position: absolute;
    top:32px;
    right: 10px;
    cursor:pointer;
}
.navbar{
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    width: 100%;
    height: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.loginH2{
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #666666;
    text-align: center;
}
.loginEmail{
    padding-bottom: 16px;
    
}

.LEmail{
    border: 1px solid #CCCCCC;
    border-radius:5px;
    box-sizing: border-box;
    width: 310px;
    height: 40px;
    padding-left:10px;
    font-weight: 500;
    font-size: 18px;
    color: #666666;
}
.loginPws{
    padding-bottom: 16px;
}
.LPws{
    border: 1px solid #CCCCCC;
    border-radius:5px;
    box-sizing: border-box;
    width: 310px;
    height: 40px;
    padding-left:10px;
    font-weight: 500;
    font-size: 18px;
    color: #666666;
}
.GroupBtn{
    padding-bottom: 8px;
}
.loginbtn{
    width: 310px;
    height: 42px;
    border:none;
    background: #448899;
    border-radius: 5px;
    font-weight: 300;
    font-size: 19px;
    color: #FFFFFF;
    text-align: center;
    cursor:pointer;
}
.loginMsg{
    color:red;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 16px;
}
.signupMsg{
    color:red;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 16px;
}
.gotoSignup{
    width: 310px;
    height: 22px;
    text-align: center;
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    padding-bottom: 10px;
    cursor:pointer;
}
/*做signup*/
.signup{
    display: none;
    z-index: 200;
    position:absolute;
}

.signupBox{
    position: fixed;
    top: 70px;
    left:50%;
    transform: translate(-150px,0);
    max-width: 340px;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 8px;
    background: #FFFFFF;
    padding-bottom: 0 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    z-index: 2;
}

.signupName{
    padding-bottom: 16px;
    
}

.sName{
    border: 1px solid #CCCCCC;
    border-radius:5px;
    box-sizing: border-box;
    width: 310px;
    height: 40px;
    padding-left:10px;
    font-weight: 500;
    font-size: 18px;
    color: #666666;
}
.signupEmail{
    padding-bottom: 16px;
}
.sEmail{
    border: 1px solid #CCCCCC;
    border-radius:5px;
    box-sizing: border-box;
    width: 310px;
    height: 40px;
    padding-left:10px;
    font-weight: 500;
    font-size: 18px;
    color: #666666;
}

.signupPws{
    padding-bottom: 16px;
}
.sPws{
    border: 1px solid #CCCCCC;
    border-radius:5px;
    box-sizing: border-box;
    width: 310px;
    height: 40px;
    padding-left:10px;
    font-weight: 500;
    font-size: 18px;
    color: #666666;
}

.signupBtn{
    padding-bottom: 18px;
}
.sbtn{
    width: 310px;
    height: 42px;
    border:none;
    background: #448899;
    border-radius: 5px;
    font-weight: 300;
    font-size: 19px;
    color: #FFFFFF;
    text-align: center;
    cursor:pointer;
}
.gotoLogin{
    width: 310px;
    height: 22px;
    text-align: center;
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    padding-bottom: 10px;
    cursor:pointer;
}
.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.headerTitle{
    color:#448899;
    font-size: 30px;
    line-height: 34px;
    font-weight: bold; 
}
.functionMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.functionMenu li {
    color: #666666;
    font-size: 16px;
    line-height: 13px;
    padding-right: 18px;
}
.content{
    max-width: 1200px;
    display: flex;
    justify-content:center;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
}
.images{
    position: relative;
}
.pic {
    width: 570px;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-right: 20px;
    
}
.leftArrow{
    position: absolute;
    left:5px;
    top:50%;
    background-color: Transparent;
    border: none;
    cursor:pointer;
}
.rightArrow{
    position: absolute;
    right:25px;
    top:50%;
    background-color: Transparent;
    border: none;
    cursor:pointer;
}
.ballArea{
    
    position: absolute;
    bottom:10px;
    left: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.ball{
    /* background-color: white; */
    border-radius: 100px;
    width: 20px;
    height: 20px;
    border: 1px solid White;
    transform: scale(0.5, 0.5);
}

.changeText1 h2{
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.changeText2 p{
    font-size: 16px;
    line-height: 13px;
    padding-bottom: 16px;
}
.function{
    width: 570px;
    border-radius: 5px;
    padding-bottom: 16px;
    margin-right: 20px;
}
.infornation{
    max-width: 650px;
    background: #E8E8E8;
    border-radius: 5px;
    height: 80%;
}
.infornation h4{
    padding-top: 15px;
    padding-bottom: 18px;
    padding-left: 20px;
    color: #666666;
    font-size: 16px;
    line-height: 13px;
    font-weight: 700;
}
.infornation p{
    color: #666666;
    font-size: 16px;
    line-height: 13px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.data{
    color: #666666;
    font-size: 16px;
    line-height: 13px;
    font-weight: 700;
    padding-left: 20px;
}
.dataSelect{
    cursor:pointer;
}
.radioBox{
    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #E8E8E8;
}
.radioBoxH4{
    color: #666666;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
}
.Rtext{
    color: #666666;
    font-size: 16px;
    line-height: 13px;
    font-weight: 400;
    
}
input[type='radio']:after{
    width: 18px;
    height: 18px;
    border-radius: 19px;
    top: -2px;
    left: -2px;
    position: relative;
    background-color: #FFFFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FFFFFF;
}
input[type='radio']:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 19px;
    top: -2px;
    left: -2px;
    position: relative;
    background-color: #448899;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FFFFFF;
}

.amount{
    padding-left: 20px;
    padding-bottom: 22px;
}
.amountOrder{
    color: #666666;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    
}
.changeAmount{
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    padding-left: 10px;
}
.button{
    padding-left: 20px;
    padding-bottom: 12px;
    
}
.checkBtn{
    width: 154px;
    height: 36px;
    color: white;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    background: #448899;
    border-radius: 5px;
    border:none;
    cursor:pointer;
}
.line1{
    border: 1px solid #E8E8E8;
}
.line2{
    border: 1px solid #E8E8E8;
    width: 1180px;
}
.introduceArea{
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 16px;
    margin-bottom: 60px;
}
.narrative{
    padding-bottom: 10px;
}
.narrative p{
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}
.address{
    padding-bottom: 16px;
}
.address h4{
    color: #666666;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.address p{
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    
}
.traffic{
    padding-bottom: 120px;
}
.traffic h4{
    color: #666666;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    
    display: flex;
    align-items: center;
}
.traffic p{
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
}
.footer{
    height: 90px;
    width: 100%;
    background:#757575;
    display: flex;
    align-items: center;
    /* position: absolute;
    bottom: 0; */
}
.footer p{
    font-size: 16px;
    color:#FFFFFF;
    align-items: center;
    margin:0 auto;
    
}

@media (max-width:1200px){
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
    }
    .loginBox{
        position: fixed;
        top: 70px;
        left:50%;
        /* transform: translate(-150px,0); */
        max-width: 340px;
        z-index: 2;
    }
    .signupBox{
        position: fixed;
        top: 70px;
        left:50%;
        /* transform: translate(-150px,0); */
        max-width: 340px;
        z-index: 2;
    }
    .content{
        max-width: 900px;
    }
    .pic{
        max-width: 440px;
        height: 300px;
    }
    .function{
        max-width: 430px;
        border-radius: 5px;
        
    }
    .changeText1{
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        
    }
    .changeText2 p{
        font-size: 16px;
        line-height: 8px;
        padding-bottom: 14px;
    }
    .infornation h4{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        color: #666666;
        font-size: 14px;
        line-height: 150%;
        font-weight: 700;
    }
    .infornation p{
        color: #666666;
        font-size: 14px;
        line-height: 150%;
        padding-left: 16px;
        padding-bottom: 14px;
    }
    .data{
        color: #666666;
        font-size: 14px;
        line-height: 150%;
        font-weight: 700;
        padding-left: 16px;
    }
    /* .radio{
        font-size: 14px;
        line-height: 150%;
        font-weight: 400;
    } */
    .radioBox{
        padding-top: 14px;
        padding-bottom: 10px;
        padding-left: 16px;
        color: #666666;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
    }
    .amount{
        padding-left: 16px;
        padding-bottom: 10px;
    }
    .amountOrder{
        color: #666666;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
    }
    .changeAmount{
        color: #666666;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }
    .button{
        padding-left: 20px;
        padding-bottom: 18px;
    }
    .checkBtn{
        width: 120px;
        height: 28px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        background: #448899;
        border-radius: 5px;
        border:none;
    }
    .introduceArea{
        max-width: 890px;
        margin: 0 auto;
        padding-top: 10px;
        margin-bottom: 60px;
    }
    .address{
        padding-bottom: 10px;
    }
    .traffic{
        padding-bottom: 130px;
    }
    .line2{
        border: 1px solid #E8E8E8;
        width: 890px;
    }
    .footer{
        
        width: 100%;
        background:#757575;
        display: flex;
        align-items: center;
        height: 90px;
    }
}

@media (max-width:900px){
    
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 600px;
    }
    .loginBox{
        position: fixed;
        top: 70px;
        left:50%;
        max-width: 340px;
        z-index: 2;
    }
    .LEmail{
        padding-left: 10px;
        max-width:300px;
        height: 40px;
   
    }
    .LPws{
        padding-left: 10px;
        max-width:300px;
        height: 40px;
      
    }
    .loginbtn{
        max-width:300px;
        height: 42px;
        padding-left: 10px;
    }
    .signupBox{
        position: fixed;
        top: 70px;
        left:50%;
        max-width: 340px;
        z-index: 2;
    }
    .sName{
        padding-left: 10px;
        max-width:300px;
        height: 40px;
    }
    .sEmail{
        padding-left: 10px;
        max-width:300px;
        height: 40px;
    }
    .sPws{
        padding-left: 10px;
        max-width:300px;
        height: 40px;
    }
    .sbtn{
        max-width:300px;
        height: 42px;
        padding-left: 10px;
    }

    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    .pic{
        max-width: 550px;
        height: 300px;
    }
    .function{
        max-width: 550px;
        border-radius: 5px;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .checkBtn{
        width: 120px;
        height: 32px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 10px;
        line-height: 100%;
        background: #448899;
        border-radius: 5px;
        border:none;
    }
    
    .introduceArea{
        max-width: 500px;
        margin: 0 auto;
        padding-top: 10px;
        height: 100%;
        margin-bottom: 20px;
    }
    .address{
        padding-bottom: 10px;
    }
    .traffic{
        padding-bottom: 70px;
    }
    .line2{
        border: 1px solid #E8E8E8;
        width: 600px;
    }
    .footer{
        padding-top: 10px;
        height: 60px;
        width: 100%;
        
    }

}
@media (max-width:700px){
    .loginBox{
        position: fixed;
        top: 70px;
        left:50%;
        max-width: 900px;
        z-index: 2;
    }
    .LEmail{
        padding-left: 15px;
        max-width:270px;
        height: 40px;
   
    }
    
    .LPws{
        padding-left: 15px;
        max-width:270px;
        height: 40px;
      
    }
    .loginbtn{
        max-width:270px;
        height: 42px;
        padding-left: 15px;
    }
    .signupBox{
        position: fixed;
        top: 70px;
        left:50%;
        max-width: 900px;
        z-index: 2;
    }
    .sName{
        position: fixed;
        top: 70px;
        left:50%;
        max-width: 350px;
        z-index: 2;
    }
    .sEmail{
        padding-left: 15px;
        max-width:270px;
        height: 40px;
    }
    .sPws{
        padding-left: 15px;
        max-width:270px;
        height: 40px;
    }
    .sbtn{
        max-width:270px;
        height: 42px;
        padding-left: 15px;
    }
}
@media (max-width:600px){
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 280px;
    }
    .headerTitle{
        color:#448899;
        font-size: 20px;
        line-height: 34px;
        font-weight: bold; 
    }

    .functionMenu li {
        color: #666666;
        font-size: 12px;
        line-height: 13px;
        padding-right: 18px;
    }
    .pic{
        max-width: 400px;
        height: 300px;
    }
    .function{
        max-width: 400px;
        border-radius: 5px;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .introduceArea{
        max-width: 400px;
        margin: 0 auto;
        padding-top: 10px;
        height: 100%;
        padding-bottom: 20px;
    }
    .line2{
        border: 1px solid #E8E8E8;
        width: 400px;
    }
}
@media (max-width:500px){
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 320px;
    }
    .headerTitle{
        font-size: 25px;
    }
    .pic{
        max-width: 340px;
        height: 300px;
    }
    .function{
        max-width: 340px;
        border-radius: 5px;
        padding-bottom: 10px;
        padding-top: 20px;
        margin-right: 10px;
    }
    
    .introduceArea{
        max-width: 320px;
        margin: 0 auto;
        padding-top: 10px;
        height: 100%;
    }
    .address{
        padding-bottom: 10px;
    }
    .traffic{
        padding-bottom: 40px;
    }
    .line2{
        border: 1px solid #E8E8E8;
        width: 320px;
    }
    .footer{
        height: 80px;
    }
}

@media (max-width:360px){
    .background{
        width: 100%;
        height: 70%;
        position:absolute;
        z-index: 100;
        left: 0;
        top: 0;
        background-color: rgba(43, 39, 39, 0.5);
        /* opacity: 0.5; */
        display:none;
        
    }
    .loginBox{
        position: fixed;
        top: 70px;
        left: 163px;
        width: 320px;
        z-index: 2;
    }
    .LEmail{
        padding-left: 15px;
        max-width:280px;
        height: 40px;
   
    }
    
    .LPws{
        padding-left: 15px;
        max-width:280px;
        height: 40px;
      
    }
    .loginbtn{
        max-width:280px;
        height: 42px;
        padding-left: 15px;
    }
    .signupBox{
        position: fixed;
        top: 70px;
        left: 163px;
        width: 320px;
        z-index: 2;
    }
    .sName{
        padding-left: 15px;
        max-width:280px;
        height: 40px;
    }
    .sEmail{
        padding-left: 15px;
        max-width:280px;
        height: 40px;
    }
    .sPws{
        padding-left: 15px;
        max-width:280px;
        height: 40px;
    }
    .sbtn{
        max-width:280px;
        height: 42px;
        padding-left: 15px;
    }
    .header {
        display: flex;
        align-items: center;
    }
    .headerTitle{
        font-size: 20px;
    }
   
    .pic{
        max-width: 330px;
    }
    
    .changeText1{
        font-size: 16px;
        line-height: 150%;
        font-weight: 700;
        padding-bottom: 10px;
    }
    .changeText2 p{
        font-size: 14px;
        line-height: 8px;
        padding-bottom: 14px;
    }
    .infornation h4{
        padding-top: 14px;
        padding-bottom: 10px;
        color: #666666;
        font-size: 14px;
        line-height: 150%;
        font-weight: 700;
    }
    .infornation p{
        color: #666666;
        font-size: 12px;
        line-height: 120%;
        padding-bottom: 18px;
        padding-right: 10px;
    }
    .data{
        color: #666666;
        font-size: 14px;
        line-height: 150%;
        font-weight: 700;
        
    }
    /* .radio{
        font-size: 14px;
        line-height: 150%;
        font-weight: 400;
    } */
    .radioBox{
        padding-top: 18px;
        padding-bottom: 10px;
        color: #666666;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
    }
    
 

    .amount{
        padding-bottom: 20px;
    }
    .amountOrder{
        color: #666666;
        font-weight: 700;
        font-size: 12px;
        line-height: 150%;
    }
    .changeAmount{
        color: #666666;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }
    .checkBtn{
        width: 160px;
        height: 28px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        background: #448899;
        border-radius: 5px;
        border:none;
    }
    .introduceArea{
        max-width: 300px;
        padding-top: 10px;
        height: 100%;
        padding-bottom: 30px;
    }
    
}