html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
.body{
    font-family: Noto Sans TC;
    font-style: normal;
   
}
.navBooking{
    cursor:pointer;
}
.navlogin{
    cursor:pointer;
}
.logout{
    display: none;
    cursor:pointer;
}
.background{
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(43, 39, 39, 0.5);
    /* opacity: 0.5; */
    display:none;
    
}
.headerTitle{
    cursor:pointer;
}
/*做login*/
.login{
    display: none;
    z-index: 200;
    position:absolute;
}

.loginBox{
    position: fixed;
    top: 70px;
    /* left:600px; */
    left:50%;
    transform: translate(-150px,0);
    max-width: 340px;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 8px;
    background: #FFFFFF;
    padding-bottom: 0 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    /* z-index: 3; */
    
}
.loginClose{
    width: 16px;
    height: 16px;
    position: absolute;
    top:32px;
    right: 10px;
    cursor:pointer;
}
.signupClose{
    width: 16px;
    height: 16px;
    position: absolute;
    top:32px;
    right: 10px;
    cursor:pointer;
}
.navbar{
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    width: 100%;
    height: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.loginH2{
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #666666;
    text-align: center;
}
.loginEmail{
    padding-bottom: 16px;
    
}

.LEmail{
    border: 1px solid #CCCCCC;
    border-radius:5px;
    box-sizing: border-box;
    width: 310px;
    height: 40px;
    padding-left:10px;
    font-weight: 500;
    font-size: 18px;
    color: #666666;
}
.loginPws{
    padding-bottom: 16px;
}
.LPws{
    border: 1px solid #CCCCCC;
    border-radius:5px;
    box-sizing: border-box;
    width: 310px;
    height: 40px;
    padding-left:10px;
    font-weight: 500;
    font-size: 18px;
    color: #666666;
}
.GroupBtn{
    padding-bottom: 8px;
}
.loginbtn{
    width: 310px;
    height: 42px;
    border:none;
    background: #448899;
    border-radius: 5px;
    font-weight: 300;
    font-size: 19px;
    color: #FFFFFF;
    text-align: center;
    cursor:pointer;
}
.loginMsg{
    color:red;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 16px;
}
.signupMsg{
    color:red;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 16px;
}
.gotoSignup{
    width: 310px;
    height: 22px;
    text-align: center;
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    padding-bottom: 10px;
    cursor:pointer;
}
/*做signup*/
.signup{
    display: none;
    z-index: 200;
    position:absolute;
}

.signupBox{
    position: fixed;
    top: 70px;
    left:50%;
    transform: translate(-150px,0);
    max-width: 340px;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 8px;
    background: #FFFFFF;
    padding-bottom: 0 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    z-index: 2;
}

.signupName{
    padding-bottom: 16px;
    
}

.sName{
    border: 1px solid #CCCCCC;
    border-radius:5px;
    box-sizing: border-box;
    width: 310px;
    height: 40px;
    padding-left:10px;
    font-weight: 500;
    font-size: 18px;
    color: #666666;
}
.signupEmail{
    padding-bottom: 16px;
}
.sEmail{
    border: 1px solid #CCCCCC;
    border-radius:5px;
    box-sizing: border-box;
    width: 310px;
    height: 40px;
    padding-left:10px;
    font-weight: 500;
    font-size: 18px;
    color: #666666;
}

.signupPws{
    padding-bottom: 16px;
}
.sPws{
    border: 1px solid #CCCCCC;
    border-radius:5px;
    box-sizing: border-box;
    width: 310px;
    height: 40px;
    padding-left:10px;
    font-weight: 500;
    font-size: 18px;
    color: #666666;
}

.signupBtn{
    padding-bottom: 18px;
}
.sbtn{
    width: 310px;
    height: 42px;
    border:none;
    background: #448899;
    border-radius: 5px;
    font-weight: 300;
    font-size: 19px;
    color: #FFFFFF;
    text-align: center;
    cursor:pointer;
}
.gotoLogin{
    width: 310px;
    height: 22px;
    text-align: center;
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    padding-bottom: 10px;
    cursor:pointer;
}
.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.headerTitle{
    color:#448899;
    font-size: 30px;
    line-height: 34px;
    font-weight: bold; 
}
.functionMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.functionMenu li {
    color: #666666;
    font-size: 16px;
    line-height: 13px;
    padding-right: 18px;
}

.attractionData{
    max-width: 1200px;
    margin: 0 auto;
    
}
.nameText{
    padding-top: 20px;
    padding-left: 100px;
    padding-bottom: 26px;
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;
    color: #666666;
}
.bookingData{
    padding-left: 100px;
    position: relative;
    padding-bottom: 20px;
}
.deleteIcon{
    position: absolute;
    top:10px;
    right:160px;
    width: 1%;
    height: 1%;
    cursor:pointer;
}
.booking{
    display: flex;

}
.viewPic{
    width: 266px;
    height: 200px;
    padding-left: 110px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.viewData{
    padding-left: 22px;
}
.bookingView{
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #448899;
    padding-top: 10px;
    padding-bottom: 30px;
}
.date,.time,.Spend,.Loc{
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    padding-bottom: 20px;
}
.showDate{
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}
.showtime{
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}
.showSpend{
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}
.showLoc{
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}
.contactData{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 110px;
    padding-top: 30px;
}

.contactH2{
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;
    color: #666666;
    padding-bottom: 31px;
}
.memberName{
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    padding-bottom: 29px;
}

.NoteMessage{
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    padding-bottom: 45px;
}
.line0{
    border: 1px solid #E8E8E8;
}
.line1,.line2,.line3{
    width: 1200px;
    border: 1px solid #E8E8E8;
}
.CCdata{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 110px;
    padding-top: 44px;
}
.memberDataH2{
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;
    color: #666666;
    padding-bottom: 22px;
}
.ccItem{
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
}
.ccItem{
    padding-bottom: 29px;
}
.ccNumber,.ccDate,.ccCode{
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 5px;
    width: 200px;
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;
}
.totalData{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: end;
}
.totalAmount{
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    padding-bottom: 25px;
}
.confirm{
    padding-bottom: 72px;
   
}
.confirmbtn{
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    color: #FFFFFF;
    background: #448899;
    border-radius: 5px;
    width: 173px;
    height: 36px;
    border:none;
    cursor:pointer;
}
.deleteBakkground{
    display: none;
    background-color: #AAAAAA;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 100;
    left: 0;
    top: 120px;
}
.deleteBakkground h3{
    color: #448899;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.footer{
    height: 90px;
    width: 100%;
    background:#757575;
    display: flex;
    align-items: center;
    /* position: absolute;
    bottom: 0; */
}

.footer p{
    font-size: 16px;
    color:#FFFFFF;
    align-items: center;
    margin:0 auto;
    
}
@media (max-width:1200px){
    
    .header{
        
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .loginBox{
        position: fixed;
        top: 70px;
        left:50%;
        /* transform: translate(-150px,0); */
        max-width: 340px;
        z-index: 2;
    }
    .signupBox{
        position: fixed;
        top: 70px;
        left:50%;
        /* transform: translate(-150px,0); */
        max-width: 340px;
        z-index: 2;
    }
    .line1,.line2,.line3{
        border: 1px solid #E8E8E8;
        width: 900px;
    }
    .totalData{
        max-width: 800px;
        margin: 0 auto;
        padding-top: 30px;
        text-align: end;
    }
}
@media (max-width:900px){
    .line1,.line2,.line3{
        border: 1px solid #E8E8E8;
        width: 700px;
    }
}
@media (max-width:800px){
    .booking{
        display: flex;
        flex-wrap:wrap;
    }
    
    .viewPic{
        width: 500px;
        height: 300px;
        padding-left: 110px;
        padding-bottom: 20px;
    }
    
    .viewData{
        padding-left: 10px;
        padding-right: 20px;
        padding-top: 20px;
    }
    .deleteIcon{
        position: absolute;
        top:460px;
        right:200px;
        width: 1%;
        height: 1%;
        cursor:pointer;
    }
    .totalData{
        max-width: 600px;
        margin: 0 auto;
        padding-top: 30px;
        text-align: end;
    }
    .NoteMessage{    
    line-height: 15px;
    }
    .NoteMessage p{
        word-wrap:break-word; 
    }
    
    .loginBox{
        position: fixed;
        top: 70px;
        left:50%;
        max-width: 340px;
        z-index: 2;
    }
    .LEmail{
        padding-left: 10px;
        max-width:300px;
        height: 40px;
   
    }
    .LPws{
        padding-left: 10px;
        max-width:300px;
        height: 40px;
      
    }
    .loginbtn{
        max-width:300px;
        height: 42px;
        padding-left: 10px;
    }
    .signupBox{
        position: fixed;
        top: 70px;
        left:50%;
        max-width: 340px;
        z-index: 2;
    }
    .sName{
        padding-left: 10px;
        max-width:300px;
        height: 40px;
    }
    .sEmail{
        padding-left: 10px;
        max-width:300px;
        height: 40px;
    }
    .sPws{
        padding-left: 10px;
        max-width:300px;
        height: 40px;
    }
    .sbtn{
        max-width:300px;
        height: 42px;
        padding-left: 10px;
    }
}
@media (max-width:700px){
    .line1,.line2,.line3{
        border: 1px solid #E8E8E8;
        width: 400px;
        padding-right: 150px;
    }
    .bookingData{
        padding-left: 90px;
    }
    .booking{
        display: flex;
        flex-direction:column;
    }
    .viewPic{
        width: 360px;
        height: 280px;
    }
    
   
    .NoteMessage p{
        word-wrap:break-word; 
    }

    .loginBox{
        position: fixed;
        top: 70px;
        left:50%;
        max-width: 350px;
        z-index: 2;
    }
    .LEmail{
        padding-left: 15px;
        max-width:270px;
        height: 40px;
   
    }
    
    .LPws{
        padding-left: 15px;
        max-width:270px;
        height: 40px;
      
    }
    .loginbtn{
        max-width:270px;
        height: 42px;
        padding-left: 15px;
    }
    .signupBox{
        position: fixed;
        top: 70px;
        left:50%;
        max-width: 350px;
        z-index: 2;
    }
    .sName{
        position: fixed;
        top: 70px;
        left:50%;
        max-width: 350px;
        z-index: 2;
    }
    .sEmail{
        padding-left: 15px;
        max-width:270px;
        height: 40px;
    }
    .sPws{
        padding-left: 15px;
        max-width:270px;
        height: 40px;
    }
    .sbtn{
        max-width:270px;
        height: 42px;
        padding-left: 15px;
    }
    .totalData{
        max-width: 600px;
        margin: 0 auto;
        padding-top: 30px;
        text-align: end;
    }
}
@media (max-width:600px){
    .attractionData{
        max-width: 600px;
        
    }
    .nameText{
        padding-left: 50px;
    }
    .bookingData{
        padding-left: 50px;
    }
    .viewPic{
        width: 330px;
        height: 280px;
        padding-bottom: 20px;
    }
    
    .contactData,.CCdata{
        padding-left: 70px;
    }
    .date,.time,.Spend,.Loc{
        font-weight: 700;
        font-size: 16px;
        line-height: 10%;
        color: #666666;
        padding-bottom: 20px;
    }
    .Loc{
        padding-bottom: 60px;
    }
    .deleteIcon{
        position: absolute;
        top:500px;
        right:180px;
        width: 1%;
        height: 1%;
        cursor:pointer;
    }
    .totalData{
        max-width: 300px;
        margin: 0 auto;
        padding-top: 30px;
        text-align: end;
    }
    .line1,.line2,.line3{
        border: 1px solid #E8E8E8;
        width: 440px;
        padding-right: 80px;
    }
}
@media (max-width:500px){
    .line1,.line2,.line3{
        border: 1px solid #E8E8E8;
        width: 340px;
        padding-left: 70px;
    }
    .deleteIcon{
        position: absolute;
        top:500px;
        right:80px;
        width: 1%;
        height: 1%;
        cursor:pointer;
    }
    .bookingData{
        padding-left: 30px;
    }
    .viewPic{
        width: 360px;
        height: 280px;
        
        padding-bottom: 20px;
    }
    
}
@media (max-width:400px){
    .line1,.line2,.line3{
        border: 1px solid #E8E8E8;
        width: 300px;
        padding-left: 20px;
    }
    .attractionData{
        max-width: 500px;
        
    }
    .nameText{
        padding-left: 10px;
    }
    .bookingData{
        padding-left: 30px;
    }
    .viewPic{
        width: 260px;
        height: 260px;
        
        padding-bottom: 20px;
    }

   
    .contactData,.CCdata{
        padding-left:10px;
    }
    .deleteIcon{
        position: absolute;
        top:450px;
        right:40px;
        width: 1%;
        height: 1%;
        cursor:pointer;
    }
}
@media (max-width:360px){
    .bookingData{
        padding-left: 10px;
    }
    .viewPic{
        width: 320px;
        height: 220px;
        
        padding-bottom: 20px;
    }
   
    .header {
        display: flex;
        align-items: center;
    }
    .header h3{
        font-size: 22px;
    }
    .functionMenu li{
        font-size: 10px;
    }
    .loginBox{
        position: fixed;
        top: 70px;
        left: 163px;
        width: 320px;
        z-index: 2;
    }
    .LEmail{
        padding-left: 15px;
        max-width:280px;
        height: 40px;
   
    }
    
    .LPws{
        padding-left: 15px;
        max-width:280px;
        height: 40px;
      
    }
    .loginbtn{
        max-width:280px;
        height: 42px;
        padding-left: 15px;
    }
    .signupBox{
        position: fixed;
        top: 70px;
        left: 163px;
        width: 320px;
        z-index: 2;
    }
    .sName{
        padding-left: 15px;
        max-width:280px;
        height: 40px;
    }
    .sEmail{
        padding-left: 15px;
        max-width:280px;
        height: 40px;
    }
    .sPws{
        padding-left: 15px;
        max-width:280px;
        height: 40px;
    }
    .sbtn{
        max-width:280px;
        height: 42px;
        padding-left: 15px;
    }
}