<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styleIndex.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <h3 class="headerTitle">台北一日遊</h3>
            <ul class="functionMenu">
                <li>預定行程</li>
                <li>登入/註冊</li>
            </ul>
        </div>
        <div class="banner">
            <div class="queryArea">
                <h1 class="bannerTitle">輕鬆享受台北一日遊</h1>
                <p>探索每個角落，體驗城市的深度旅遊行程</p>
                <input type="text" id="queryView" value="輸入景點名稱查詢">
                <button id="queryButton"><img src="https://i.imgur.com/MFdZhYo.png"></button>
            </div>
            <div class="bigImage">
                <img src="https://i.imgur.com/hZdO31Q.png">
            </div>
        </div>
        <div class="content"></div>
        <div class="footer">
            <p>COPYRIGHT © 2021 台北一日遊</p>
        </div>
    </div>
</body>
</html>